{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<div class="login center-container"> 
  <h1 class="app-name">Login</h1>

  <form method="POST" action="">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
        <td></td>
        <td>
          <input class="btn login_btn add-product-button" type="submit" value="Login" /> 
        </td>
      </tr>
    </table>
  </form>

  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <p>Don't have an account yet?</p>
  <a href="{% url 'main:register' %}" class="add-product-button">Register Now</a> 
</div>
{% endblock content %}
